body {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: burlywood;
    text-align: center;
    color: white;
}

#profile-container {
    max-width: 300px;
    margin: 80px auto;
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
}

#profile-name {
    text-align: center;
}

#profile-image {
    width: 100%;
    height: auto;
}

#footer {
    width: 100%;
    height: 50px;
    line-height: 50px;
    position: absolute;
    bottom: 0px;
    background-color: burlywood;
    text-align: center;
    color: white;
}